@using DecisionAid.Models

@model MatchesModel

@{
    ViewData["Title"] = "Résultat";
}

<div class="row">
    <div class="col-12 table-responsive mb-5">
        <table class="table table-bordered">
            <caption>Préférences des étudiants</caption>
            <tr>
                <th>Etudiants</th>

                @for (var i = 1; i <= Model.Candidacies.Establishments.Count; i++)
                {
                    <th nowrap>Choix @i</th>
                }

            </tr>

            @foreach (var student in Model.Candidacies.Students)
            {
                <tr>
                    <td nowrap>@student.Name</td>

                    @foreach (var preferency in student.Preferencies)
                    {
                        <td nowrap>@preferency.Name</td>
                    }

                </tr>
            }

        </table>
    </div>

    <div class="col-12 table-responsive mb-5">
        <table class="table table-bordered">
            <caption>Préférences des établissements</caption>
            <tr>
                <th>Etablissements</th>

                @for (var i = 1; i <= Model.Candidacies.Students.Count; i++)
                {
                    <th nowrap>Choix @i</th>
                }

            </tr>

            @foreach (var establishment in Model.Candidacies.Establishments)
            {
                <tr>
                    <td nowrap>@establishment.Name</td>

                    @foreach (var preferency in establishment.Preferencies)
                    {
                        <td nowrap>@preferency.Name</td>
                    }

                </tr>
            }

        </table>
    </div>
</div>

<div class="row">
    <div class="col-4 table-responsive mb-5">
        <table class="table table-bordered">
            <caption>Affectations</caption>
            <tr>
                <th>Etudiants</th>
                <th>Etablissements</th>
            </tr>

            @foreach (var pair in Model.Matches)
            {
                <tr>
                    <td nowrap>@pair.Key.Name</td>
                    <td nowrap>@pair.Value.Name</td>
                </tr>
            }

        </table>
    </div>
    <div class="col-4 table-responsive mb-5">
        <table class="table table-bordered">
            <caption>Satisfaction des étudiants</caption>
            <tr>
                <th>Etudiants</th>
                <th>Satisfaction</th>
            </tr>

            @foreach (var pair in Model.StudentSatisfactions)
            {
                <tr>
                    <td nowrap>@pair.Key</td>
                    <td nowrap>@pair.Value %</td>
                </tr>
            }

        </table>
    </div>
    <div class="col-4 table-responsive mb-5">
        <table class="table table-bordered">
            <caption>Satisfaction des établissements</caption>
            <tr>
                <th>Etablissements</th>
                <th>Satisfaction</th>
            </tr>

            @foreach (var pair in Model.EstablishmentSatisfactions)
            {
                <tr>
                    <td nowrap>@pair.Key</td>
                    <td nowrap>@pair.Value %</td>
                </tr>
            }

        </table>
    </div>
</div>
